pkgbase = kubeterm-bin
	pkgdesc = Kubernetes monitoring and management desktop client
	pkgver = 2.8.2
	pkgrel = 1
	url = https://github.com/kbterm/kubeterm
	arch = x86_64
	license = LicenseRef-kubeterm
	depends = gtk3
	depends = libsecret
	depends = libepoxy
	depends = xdg-utils
	provides = kubeterm
	conflicts = kubeterm
	options = !strip
	options = !debug
	source = https://github.com/kbterm/kubeterm/releases/download/v2.8.2/kubeterm-2.8.2-x86_64.deb
	sha256sums = b11c84c7e4b9bc8f2bebff7282fe81ef1b893475f0ef3e679f2c76a9759fe87d

pkgname = kubeterm-bin
